*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  padding: 40px;
  background-color: #232323;
  font-family: SF Pro Display;
  display: flex;
  min-height: 100vh;
}
.filters{
  width: 228px;
  height: 275px;
  background: #131313;
  border-radius: 15px;
  padding: 24px;
}
.filters h1{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #A5A5A5;
  margin-bottom: 11px;
}
.filters hr{
  margin-bottom: 36px;
}
.filters select{
  width: 168.45px;
  height: 37.5px;
  background: #232323;
  border-radius: 4.68775px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 8px 13px;
  margin-bottom: 12px;
}
.product-section{
  margin: 0 20px;
}
.heading h1{
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.87);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.heading h3{
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 21px;
}
.heading{
  margin-left: 14px;
}
.product-list{
  padding: 21px 0;
}
.product-list h1{
  margin-left: 14px;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.product-list hr{
  margin-left: 14px;
  border: 1px solid rgba(203, 203, 203, 0.5);
  margin-bottom: 12px;
}
.product-cards{
  height: 190px;
  background: #131313;
  border-radius: 15px;
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 1100px;
  min-width: 240px;
}
.product-cards::-webkit-scrollbar{
  height: 5px;
  background-color: #928d8d;
  border-radius: 5px;
}
.product-cards::-webkit-scrollbar-thumb{
  background: #c9c2c2;
  border-radius: 5px;
}
.product-card{
  margin-right: 20px;
  width: 210px;
  height: 150px;
  padding: 10px 12px;
  background: #232323;
  border-radius: 4.68775px;
  padding-bottom: 14px;
  min-width: 210px;
}
.product-card .info{
  display: flex;
}
.product-card img{
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 12px;
}
.product-card .product-name-head{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.product-card .brand-name,
.product-card .location,
.product-card .date,
.product-card .description{
  margin: 10px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.product-card .price{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
.product-card .price span{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 3.5px;
}
.product-card .description{
  font-size: 11px;
  line-height: 13px;
  margin: 4px 0;
}
.product-card .date{
  margin-left: auto;
}